.full-width {
    width: 100%;
  }
  
  .coach-card {
    min-width: 720px;
    margin: 30px auto;
  }
  
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  .mat-form-field {
    margin: 18px 0;
    width: 100% !important;
  }
  
  .actions {
    padding: 2px;
    margin: 3px;
    -webkit-box-shadow: 2px 2px 2px gray;
            box-shadow: 2px 2px 2px gray;
  }
 