


<div class=w-full>
    <div class="bg-white flex flex-col font-sans">
        <div class="container mx-auto px-8">
            
            <main class="flex flex-col-reverse sm:flex-row jusitfy-between items-center py-12">
                <div class=" mx-auto text-center ">
                    <h1 class="text-blue-500 font-extrabold tracking-tight text-gray-900 sm:text-4xl" style="font-size: 4.2em">
                      <strong class="block">YAL SYSTEM</strong>
                    </h1>
                    <strong class="text-gray-600 leading-relaxed" style="font-size: 2em">Welcome to our space Yal System</strong>
                    <div class="mt-2 mx-auto text-center ">
                      <a href="#" class=" items-center  px-5 py-3  text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"> Get started </a>
                    </div>

                </div>
             
                
                <div class="mb-16 sm:mb-0 mt-8 sm:mt-0 sm:w-3/5 sm:pl-12">
                    <img src="./assets/images/coding.svg" width="620em" />
                </div>
            </main>
        </div>
    </div>
  <br>
  
<br> 

<br>
<app-list-formation></app-list-formation>